@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #090909;
  --orange: rgb(255, 129, 0);
  --hover_orange: #ff80006a;
}

@theme inline {
  --breakpoint-xs: 27rem;
  --breakpoint-custom: 86rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --about-background: #0e0d0d;
    --nav-background: #090909;
    --foreground: #ededed;
    --orange: #ff8100;
  }
}

.input-field {
  @apply w-full bg-[#0D0D0D] border border-white/10 px-4 py-3 rounded-lg text-white focus:border-orange-500 focus:ring-2 focus:ring-orange-500/30 transition-all;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.icon-border {
  border: 0.5px solid var(--orange);
  border-radius: 8px;
  cursor: pointer;
}


.nav-icon {
  padding: 0.55rem;
  /* better touch target */
  border: 1px solid var(--orange);
  border-radius: 10px;
  color: var(--orange);
  background: transparent;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 129, 0, 0.25);
}

.nav-icon:hover {
  background: var(--orange);
  color: black;
  box-shadow: 0 0 18px rgba(255, 129, 0, 0.7);
  transform: translateX(4px);
  cursor: pointer;
}

button,
Link {
  cursor: pointer;
}



/* From Uiverse.io by LilaRest */
.radio-input {
  display: flex;
  height: 150px;
  align-items: center;
}

.glass {
  z-index: 2;
  height: 100%;
  width: 85px;
  margin-right: 42px;
  padding: 8px;
  background-color: rgba(48, 38, 38, 0.5);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 25px 50px -10px,
    rgba(0, 0, 0, 0.25) 0px 10px 30px -15px,
    rgba(10, 37, 64, 0.26) 0px -2px 6px 0px inset;
  backdrop-filter: blur(8px);
}

.glass-inner {
  width: 100%;
  height: 100%;
  border-color: rgba(0, 0, 0, 0.45);
  border-width: 9px;
  border-style: solid;
  border-radius: 30px;
}

.selector {
  display: flex;
  flex-direction: column;
}

.choice {
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.choice>div {
  position: relative;
  width: 31px;
  height: 31px;
  margin-right: 15px;
  z-index: 0;
}

.choice-circle {
  appearance: none;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border-width: 9px;
  border-style: solid;
  border-color: rgba(245, 245, 245, 0.45);
  cursor: pointer;
  box-shadow: 0px 0px 20px -13px gray, 0px 0px 20px -14px gray inset;
}

.ball {
  z-index: 1;
  position: absolute;
  inset: 0px;
  transform: translateX(-95px);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px,
    0px -1px 15px -8px rgba(0, 0, 0, 0.09);
  border-radius: 100%;
  transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
  background-color: rgb(232, 232, 232, 1);
}

.choice-circle:checked+.ball {
  transform: translateX(0px);
}

.choice-name {
  color: rgb(177, 176, 176);
  font-size: 16px;
  font-weight: 900;
  font-family: monospace;
  cursor: pointer;
}