@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #090909;
  --orange: rgb(255, 129, 0);
  --hover_orange: #ff80006a;
}

@theme inline {
  --breakpoint-xs: 27rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --about-background: #0e0d0d;
    --nav-background: #090909;
    --foreground: #ededed;
    --orange: #ff8100;
  }
}
/* .nav-icon {
  @apply p-2 border border-orange-500 rounded-lg text-orange-500 hover:bg-orange-500 hover:text-black transition-all duration-300 shadow-[0_0_10px_rgba(255, 128, 0, 0.3)] hover:shadow-[0_0_18px_rgba(255, 128, 0, 0.7)] transform hover:-translate-x-1 cursor-pointer; */
/* } */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.icon-border {
  border: 0.5px solid var(--orange);
  border-radius: 8px;
  cursor: pointer;
}


.nav-icon {
  padding: 0.55rem;
  /* better touch target */
  border: 1px solid var(--orange);
  border-radius: 10px;
  color: var(--orange);
  background: transparent;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 129, 0, 0.25);
}

.nav-icon:hover {
  background: var(--orange);
  color: black;
  box-shadow: 0 0 18px rgba(255, 129, 0, 0.7);
  transform: translateX(4px);
  cursor: pointer;
}

button, Link{
  cursor: pointer;
}