@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1818;
  --orange: rgb(255, 129, 0);
  --hover_orange: #ff80006a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
    --foreground: #ededed;
    --orange: #ff8100;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}